# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# TapPay
NEXT_PUBLIC_TAPPAY_APP_ID=167991
NEXT_PUBLIC_TAPPAY_APP_KEY=app_WUzX1TR5l69AiIHZXIKN29KdjT6W2sPGVm6nb5d05c8ZrVfAk2rkLbCLC9jB
NEXT_PUBLIC_TAPPAY_ENV=sandbox
TAPPAY_PARTNER_KEY=partner_...
TAPPAY_MERCHANT_ID=...

# Site
NEXT_PUBLIC_SITE_URL=https://your-domain.vercel.app
